# Code to create values in Tables 1 - 4
### Specific Values from Moisture Source Analysis and Comparison 

Used in the manuscript,  
Evaporative Moisture Sources of Coloradoâ€™s Front Range: A Case Study of the Exceptionally Wet May-July Season of 2023

In [1]:
#Import Statements
import pandas as pd

def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""
    
def flatten(container):
    for i in container:
        if isinstance(i, (list,tuple)):
            for j in flatten(i):
                yield j
        else:
            yield i
            
#MODIFY----------
date_csv_created = '01_26_2026' #MM_DD_YYYY
sink_region_name = 'nfr'
CSV_DIRECTORY = f'/Users/kathum/Research/COPEX/figures/2000-2023_{sink_region_name}/{date_csv_created}/'
#----------------

## Table 1

In [2]:
#view 2023 information
absolute_combined_2023 = pd.read_csv(f"{CSV_DIRECTORY}2023_absolute_combined.csv",index_col=0,)

# Add aquatic and terrestrial rows
absolute_combined_2023.loc["Terrestrial"] = absolute_combined_2023.iloc[0:5].sum()
absolute_combined_2023.loc["Aquatic"] = absolute_combined_2023.iloc[5:10].sum()
absolute_combined_2023.loc["All"] = absolute_combined_2023.iloc[:-2].sum()

#display value for table 1
pd.options.display.float_format = "{:,.1f}".format
print(f'{'-'*15} Absolute E-Track (m^3) {'-'*15}')
print(absolute_combined_2023)

--------------- Absolute E-Track (m^3) ---------------
                        May            June            July             MJJ
CO+FTR        278,316,558.2   438,619,323.0   214,897,844.1   931,833,725.3
Midwest       112,041,679.1    68,361,974.3    12,704,154.7   193,107,808.2
Southern US   239,455,305.6    82,622,815.8    31,525,162.4   353,603,283.7
Western US    485,753,075.5   558,062,149.2   310,619,956.9 1,354,435,181.5
Other Land    266,059,794.6   242,220,845.2   178,334,022.2   686,614,661.9
GoM           155,185,647.8    12,144,587.5   107,415,745.9   274,745,981.2
Atl. Ocean    228,435,086.8    96,623,486.5   278,886,027.5   603,944,600.8
GoC            83,601,044.8    46,646,928.8    50,031,678.0   180,279,651.7
Pac. Ocean  1,017,265,560.7   967,625,292.0   381,618,239.5 2,366,509,092.2
Other Water    38,415,800.9    25,089,467.8    15,288,887.4    78,794,156.1
Terrestrial 1,381,626,412.9 1,389,887,107.4   748,081,140.3 3,519,594,660.6
Aquatic     1,522,903,141.0 1,148,129,762.6   833,240,578.3 3,504,273,481.9
All         2,904,529,553.9 2,538,016,870.0 1,581,321,718.5 7,023,868,142.5

## Table 2

In [3]:
#view 2023 information
relative_combined_2023 = pd.read_csv(f"{CSV_DIRECTORY}2023_relative_combined.csv", index_col=0,)

# Add aquatic and terrestrial rows
relative_combined_2023.loc["Terrestrial"] = relative_combined_2023.iloc[0:5].sum()
relative_combined_2023.loc["Aquatic"] = relative_combined_2023.iloc[5:10].sum()
relative_combined_2023.loc["All"] = relative_combined_2023.iloc[:-2].sum()

#display value for table 2
print(f'\n{'-'*15} Relative E-Track (%) {'-'*15}')
print(relative_combined_2023)

--------------- Relative E-Track (%) ---------------
              May  June  July   MJJ
CO+FTR        9.6  17.3  13.6  13.3
Midwest       3.9   2.7   0.8   2.7
Southern US   8.2   3.3   2.0   5.0
Western US   16.7  22.0  19.7  19.3
Other Land    9.2   9.5  11.3   9.8
GoM           5.3   0.5   6.8   3.9
Atl. Ocean    7.9   3.8  17.6   8.6
GoC           2.9   1.8   3.2   2.6
Pac. Ocean   35.0  38.1  24.1  33.7
Other Water   1.3   1.0   1.0   1.1
Terrestrial  47.6  54.8  47.3  50.1
Aquatic      52.5  45.3  52.7  49.9
All         100.1 100.0 100.1 100.0

## Table 3

In [4]:
#open climatology information
absolute_combined_clim = pd.read_csv(f"{CSV_DIRECTORY}climatology_absolute_combined.csv", index_col=0,)

# Add aquatic and terrestrial rows
absolute_combined_clim.loc["Terrestrial"] = absolute_combined_clim.iloc[0:5].sum()
absolute_combined_clim.loc["Aquatic"] = absolute_combined_clim.iloc[5:10].sum()
absolute_combined_clim.loc["All"] = absolute_combined_clim.iloc[:-2].sum()

#calculate percent of average from 2023
perc_avg_abs = (absolute_combined_2023/ absolute_combined_clim)*100

#display value for table 3
pd.options.display.float_format = "{:,.1f}".format
print(f'{'-'*15} Percent of Average Absolute E-Track (%) {'-'*15}')
print(perc_avg_abs)

--------------- Percent of Average Absolute E-Track (%) ---------------
                May  June  July   MJJ
CO+FTR        138.1 288.9 133.2 181.1
Midwest       299.5 501.7  57.2 263.7
Southern US   991.7 444.8  69.4 401.1
Western US    161.1 241.2 138.7 179.0
Other Land    203.3 216.9 125.6 178.6
GoM         1,142.4  50.1 174.0 276.0
Atl. Ocean    774.6  72.9 155.9 177.2
GoC           215.1 188.8 195.0 202.0
Pac. Ocean    109.9 242.6 172.5 153.1
Other Water   209.1 198.2 140.9 188.1
Terrestrial   198.7 263.7 125.7 193.7
Aquatic       148.4 193.6 167.2 165.5
All           168.7 226.6 144.6 178.5

## Table 4

In [16]:
#open climatology information
relative_combined_clim = pd.read_csv(f"{CSV_DIRECTORY}climatology_relative_combined.csv", index_col=0,)

#add aquatic and terrestrial rows
relative_combined_clim.loc["Terrestrial"] = relative_combined_clim.iloc[0:5].sum()
relative_combined_clim.loc["Aquatic"] = relative_combined_clim.iloc[5:10].sum()
relative_combined_clim.loc["All"] = relative_combined_clim.iloc[:-2].sum()

#display value for table 4
pd.options.display.float_format = "{:,.1f}".format
print(f'\n{'-'*15} Climatological Relative E-Track (%) {'-'*15}')
print(relative_combined_clim)
#values from table 1
print(f'\n{'-'*15} 2023 Relative E-Track (%) {'-'*15}')
print(relative_combined_2023)

--------------- Climatological Relative E-Track (%) ---------------
              May  June  July   MJJ
CO+FTR       11.7  13.6  14.8  13.1
Midwest       2.2   1.2   2.0   1.9
Southern US   1.4   1.7   4.2   2.2
Western US   17.5  20.7  20.5  19.2
Other Land    7.6  10.0  13.0   9.8
GoM           0.8   2.2   5.6   2.5
Atl. Ocean    1.7  11.8  16.4   8.7
GoC           2.3   2.2   2.3   2.3
Pac. Ocean   53.8  35.6  20.2  39.3
Other Water   1.1   1.1   1.0   1.1
Terrestrial  40.4  47.1  54.4  46.2
Aquatic      59.6  53.0  45.6  53.8
All         100.0 100.0 100.0 100.0

--------------- 2023 Relative E-Track (%) ---------------
              May  June  July   MJJ
CO+FTR        9.6  17.3  13.6  13.3
Midwest       3.9   2.7   0.8   2.7
Southern US   8.2   3.3   2.0   5.0
Western US   16.7  22.0  19.7  19.3
Other Land    9.2   9.5  11.3   9.8
GoM           5.3   0.5   6.8   3.9
Atl. Ocean    7.9   3.8  17.6   8.6
GoC           2.9   1.8   3.2   2.6
Pac. Ocean   35.0  38.1  24.1  33.7
Other Water   1.3   1.0   1.0   1.1
Terrestrial  47.6  54.8  47.3  50.1
Aquatic      52.5  45.3  52.7  49.9
All         100.1 100.0 100.1 100.0